@media print {
    /* กระดาษ A4 divA4Cut (21.0 x 29.7 cm) =  210 mm * 297mm */
    .divA4{
      width: 210mm;
      height: 297mm;
      box-sizing: border-box;
      border: none; /* ไม่ต้องการเส้นขอบตอนพิมพ์ */
      page-break-after: always; /* บังคับการแบ่งหน้าหลัง divA4 */
      padding: 30px; /* กำหนด 4 ขอบกระดาษ ขอบกระดาษจริง == 96px*/
    }
   /* แบบกล่องเอกสารของทนาย 16.51*25.78 cm */
    .divA4Cut{
      width: 165 mm;
      /* height: 257 mm; */
      height: 257 mm;
      box-sizing: border-box;
      border: none; /* ไม่ต้องการเส้นขอบตอนพิมพ์ */
      page-break-after: always; /* บังคับการแบ่งหน้าหลัง divA4 */
      padding-top: 14mm; /* กำหนด 4 ขอบกระดาษ ขอบกระดาษจริง == 96px*/
      padding-bottom: 12mm;
      padding-left: 25mm;
      padding-right: 25mm;
    }

  :root {
    --marginTopBottom: 0px;     /* var(--aa);  */
    /* pt (point) ใน Microsoft Word  */
    --fontSize: 15pt;
    --fontFamily: Angsana New;
    /* --fontFamily: Cordia new; */
    /* --fontFamily: TH-Sarabun-PSK; */
  }
  
  .colLeft {
    margin-top: var(--marginTopBottom); 
    margin-bottom: var(--marginTopBottom);
    font-size: var(--fontSize); 
    font-family: var(--fontFamily); 
    color: #000;
  }
  
  .colCenter {
    margin-top: var(--marginTopBottom); 
    margin-bottom: var(--marginTopBottom);
    font-size: var(--fontSize); 
    font-family: var(--fontFamily); 
    text-align: center;
    color: #000;
    }
  
  .colRight {
    margin-top: var(--marginTopBottom); 
    margin-bottom: var(--marginTopBottom);
    font-size: var(--fontSize); 
    font-family: var(--fontFamily); 
    text-align: right;
    color: #000;
    }
  }